<a href="https://colab.research.google.com/github/ECastro08/challenge_telecomX_2/blob/main/Challenge_2_telecomX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Librerias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
data_source = '/content/df_telecom.csv'
data = pd.read_csv(data_source)

In [3]:
data.head()

,customer_id,churn,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,...,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,cuentas_diarias
0,0002-ORFBO,0,Female,0,1,1,9,1,0,DSL,...,0,1,1,0,One year,1,Mailed check,65.6,593.30,2.186667
1,0003-MKNFE,0,Male,0,0,0,9,1,1,DSL,...,0,0,0,1,Month-to-month,0,Mailed check,59.9,542.40,1.996667
2,0004-TLHLJ,1,Male,0,0,0,4,1,0,Fiber optic,...,1,0,0,0,Month-to-month,1,Electronic check,73.9,280.85,2.463333
3,0011-IGKFF,1,Male,1,1,0,13,1,0,Fiber optic,...,1,0,1,1,Month-to-month,1,Electronic check,98.0,1237.85,3.266667
4,0013-EXCHZ,1,Female,1,1,0,3,1,0,Fiber optic,...,0,1,1,0,Month-to-month,1,Mailed check,83.9,267.40,2.796667

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7043 non-null   object
 1   churn              7043 non-null   int64
 2   gender             7043 non-null   object
 3   senior_citizen     7043 non-null   int64
 4   partner            7043 non-null   int64
 5   dependents         7043 non-null   int64
 6   tenure             7043 non-null   int64
 7   phone_service      7043 non-null   int64
 8   multiple_lines     7043 non-null   int64
 9   internet_service   7043 non-null   object
 10  online_security    7043 non-null   int64
 11  online_backup      7043 non-null   int64
 12  device_protection  7043 non-null   int64
 13  tech_support       7043 non-null   int64
 14  streaming_tv       7043 non-null   int64
 15  streaming_movies   7043 non-null   int64
 16  contract           7043 non-null   object
 17  paperless_billing  7043 non-null   int64
 18  payment_method     7043 non-null   object
 19  monthly_charges    7043 non-null   float64
 20  total_charges      7043 non-null   float64
 21  cuentas_diarias    7043 non-null   float64
dtypes: float64(3), int64(14), object(5)
memory usage: 1.2+ MB